.send-title{
    border:1px solid #7ca7d2;
    border-radius: 5px;
    font-size:11px;
    color:#7ca7d2;
    display: flex;
    box-sizing:border-box;
    height:26px;    
    width:120px;
}
.send-header{
    border-bottom:1px solid #ccc;
}
.send-header span{
    flex:1;
    line-height:25px;
    height:25px;
    text-align:center;
    border-radius: 5px 0 0 5px;
}
.send-header .active{
    color:#fff;
    background:#7ca7d2;
}
.sendtype{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    z-index:200;
    width:100%;
    background: #fff;
}